$primary: #14213dff;
$secondary: #e5e5e5ff;
$light: #ffffff;
$dark: #000000ff;
$warning: #fca311ff;

@use "sizes" as *;
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: $header-height;

  a {
    color: $light;
    &:hover {
      color: darken($light, 20%);
    }
  }
}

main {
  min-height: $main-height;
  background-color: lighten($primary, 10%);

  a {
    color: $warning;
    &:hover {
      color: lighten($warning, 20%);
    }
  }
}

.location-bar {
  height: $location-bar-height;
}

.nav-link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.inactive {
  text-decoration: none;
}

.indent {
  text-indent: 2ch;
}

.card {
  max-width: 350px;
  min-width: 200px;
  margin: 0 auto;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $secondary;
    border-radius: 0.5rem;
  }

  img {
    width: 80px;
  }

  .temp {
    font-size: 3rem;
  }

  .card-title {
    text-align: center;
  }

  .card-lower {
    .col {
      border: 1px solid $secondary;
      text-align: center;
    }

    .row {
      &:nth-child(2n -1) {
        .col {
          border-radius: 0.5rem 0.5rem 0 0;
          border-bottom: none;
        }
      }
      &:nth-child(2n) {
        .col {
          border-radius: 0 0 0.5rem 0.5rem;
          border-top: none;
        }
      }
    }
  }
}
